<div class="card p-1 md:p-3">
    <div class="grid w-full h-full m-0 p-0">
        <div class="col-12 md:col-6 p-0 m-0" >
            <div>
                <p-dataView #dv [value]="products" [layout]="layout">
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-between">
                            <div class="flex justify-content-center align-items-center">
                                <p-inputSwitch [(ngModel)]="barCode" />
                                <label class="ml-2 mb-2" [ngClass]="{'text-blue-400 font-semibold':barCode}">Buscar con escáner de barras</label>
                            </div>
                            <p-dataViewLayoutOptions />
                        </div>
                        <span class="p-input-icon-left px w-full mt-4">
                            <i class="pi pi-search"></i>
                            <input pInputText placeholder="Buscar productos" class="w-full" />
                        </span>
                    </ng-template>
                    <ng-template pTemplate="list" let-products>
                        <div class="grid px-3 pt-2 grid-nogutter overflow-auto" style="height: 34rem;">
                            @for (item of products; track $index) {
                                <div class="col-12 mb-2 surface-overlay">
                                    <div class="flex border-1 surface-border flex-column hover-card cursor-pointer sm:flex-row sm:align-items-center p-4 gap-3">
                                        <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                                <div>
                                                    <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                                                    <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                                    <span>Lab: Bayer</span>
                                                </div>
                                            </div>
                                            <div class="flex flex-column md:align-items-end gap-2">
                                                <span class="text-xl font-semibold text-900">{{ 'S/' + item.price }}</span>
                                                <span>Stock: {{ item.stock }}</span>
                                                <div class="flex flex-row-reverse md:flex-row mt-1">
                                                    <p-button icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" (onClick)="buyShop(item)" label="Agregar" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="grid" let-products>
                        <div class="grid px-2 grid-nogutter overflow-auto" style="height: 34rem;">
                            @for (item of products; track $index) {
                                <div class="col-12 surface-overlay sm:col-6 px-2 py-2">
                                    <div class="p-3 border-1 surface-border border-round flex flex-column hover-card cursor-pointer">
                                        <div class="pt-1">
                                            <div class="flex flex-row justify-content-between align-items-start">
                                                <div>
                                                    <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                                                    <div class="font-medium text-900 mt-1">{{ item.name }}</div>
                                                    <span>Lab: Bayer</span>
                                                </div>
                                                <div>
                                                    <span>Stock: {{ item.stock }}</span>
                                                </div>
                                            </div>
                                            <div class="flex flex-column gap-4 mt-4 ">
                                                <span class="text-2xl font-semibold">{{ 'S/' + item.price }}</span>
                                                <div class="flex gap-2">
                                                    <p-button icon="pi pi-shopping-cart"  class="flex-auto md:flex-initial white-space-nowrap" (onClick)="buyShop(item)" label="Agregar" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </ng-template>
                </p-dataView>
            </div>



        </div>
        <div class="col-12 md:col-6 m-0 px-0">
            <div class="grid p-fluid px-2 md:px-5 py-0">
                <div class="field col-12 p-0 pt-3">
                    <p-dropdown placeholder=":: Seleccione cliente ::" appendTo="body" class="w-full"/>
                </div>
            </div>
            
            <div class="overflow-auto surface-overlay mt-1" style="height: 18rem;">
                <div class="grid m-0 mt-2 px-2 md:px-4">
                    <div class="col-12 grid p-fluid border-bottom-1 surface-border m-0 p-0 mt-2 align-items-center pb-2">
                        <div class="col-2 field py-0 m-0">Cant</div>
                        <div class="col-3 field py-0 m-0 text-left ">Producto </div>
                        <div class="col-3 field py-0 m-0 text-lg text-right text-600">Precio</div>
                        <div class="col-3 field py-0 m-0 text-lg text-right text-600">Total</div>
                    </div>
                    @for (item of productsBuy; track $index) {
                        <div class="col-12 grid p-fluid border-bottom-1 surface-border m-0 p-0 mt-2 align-items-center pb-2">
                            <div class="col-2 field py-0 m-0">
                                <p-inputNumber [(ngModel)]="productsBuy[$index].quantity" (onInput)="updateQuantity(item,$event)" [mode]="'decimal'"  [min]="1"  />
                            </div>
                            <div class="col-3 field py-0 m-0 text-left ">{{ productsBuy[$index].name }} </div>
                            <div class="col-3 field py-0 m-0 text-lg text-right text-600">S/ {{productsBuy[$index].price}} </div>
                            <div class="col-3 field py-0 m-0 text-lg text-right text-600 font-semibold">S/ {{productsBuy[$index].price * productsBuy[$index].quantity }} </div>
                            <div class="col-1 field py-0 m-0 text-lg text-left  text-600"><p-button icon="pi pi-trash" severity="danger" (onClick)="deletedShop(item)" /></div>
                        </div>
                    }



                </div>

            </div>
            <div class="grid px-3 align-items-center justify-content-center m-0">
                <div class="col-6 py-2 my-0">
                    <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" />
                </div>
                <div class="col-6 py-2 my-0  text-right">
                    <p-dropdown placeholder=":: Documento ::"/>
                </div>
                <div class="col-4">
                    <label for="">Ingrese Monto</label>
                    <p-inputNumber [min]="1" inputId="currency-us" mode="currency"  currency="PEN" locale="es-PE"/>
             
                </div>
                <div class="col-4 text-center">
                    <label class="text-xl">Vuelto</label>
                    <div class="text-2xl font-bold">S/ 0.0</div>
                </div>
                <div class="col-4">
                    <button pButton pRipple type="button"  severity="help" pTooltip="Cancelar" label="Pagos" class="text-lg w-full mt-2"></button>
                </div>
            </div>

            <div class="grid px-2 md:px-5 mt-1">
                <div class="col-5 py-1 text-lg text-left text-600 font-semibold">SUBTOTAL: </div>
                <div class="col-7 py-1 text-lg text-right text-600 font-semibold">S/ {{ subTotalBuy }} </div>

                <div class="col-5 py-1 text-lg text-left text-600 font-semibold">IGV: </div>
                <div class="col-7 py-1 text-lg text-right text-600 font-semibold">S/ {{ igvBuy }}</div>

                <div class="col-5 py-1 text-lg text-left text-600 font-semibold">TOTAL: </div>
                <div class="col-7 py-1 text-lg text-right text-600 font-semibold">S/ {{ totalBuy }}</div>
            </div>
            <div class="flex justify-content-center mt-3 gap-4 px-7">
                <button pButton pRipple type="button"  severity="success" icon="pi pi-wallet" pTooltip="Pagar" label="Pagar" class="text-lg w-full"></button>
                <button pButton pRipple type="button" severity="danger" icon="pi pi-times-circle" pTooltip="Cancelar" label="Cancelar"  class="text-lg w-full"></button>
            </div>
        </div>
    </div>


</div>
